@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Inter', sans-serif; */
  font-weight: 100;
  letter-spacing: 1px;
}

header {
  position: fixed;
  background-color: white;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 3rem;
  z-index: 1000;
}

body {
  padding: 6rem 3rem 3rem 3rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

nav a {
  text-decoration: none;
  font-size: 2rem;
  color: royalblue;
}

nav button {
  padding: .5rem;
  border: none;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-left: .5rem;
  background-color: rgba(65, 105, 225, 0.05);
  color: royalblue;
  cursor: pointer;
  font-weight: 900;
  border: 2px solid rgba(0, 0, 0, 0);

}


nav button.active {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.05);
  background-color: white;
}

nav button:hover {
  background-color: royalblue;
  color: white;
}

a {
  color: rgba(0, 0, 0, 0.479);
}

.space {
  padding: .25rem;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

input {
  padding: 1rem;
  height: 5rem;
  /* width: 15rem; */
  width: 100%;
  font-size: 3rem;
  border-radius: 5px;
  border: 1px solid royalblue;
  text-align: center;
  background-color: rgba(65, 105, 225, 0.0);
  color: royalblue;
}

input:disabled:hover {
  cursor: not-allowed;
}

.inputs .input:not(:last-child) {
  margin-right: .5rem;
}

.dropdown {
  border: 1px solid royalblue;
  border-radius: 5px;
  min-width: 15rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: rgba(65, 105, 225, 0.0);
  color: royalblue;
}

.title {
  padding: 1rem;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.dropdown .icon{
  font-size: 2rem;
  margin-left: 1rem;
}

.dropdown * {
  align-self: center;
}

.panel {
  position: absolute;
  background-color: white;
  min-width: 15rem;
  padding: .5rem 0;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: .5s;
}

.msg-success{
  color: rgb(24, 255, 120);
  margin-bottom: 1.5rem;
  padding: .5rem 1rem;
  background-color: rgba(24, 255, 36, 0.1);
  border-radius: 5px;
  width: max-content;
}

.visible {
  overflow: visible;
}

.panel.slide-in {
  transform: translateY(6rem);
}

.slide-out {
  transform: translateY(4rem);
}

.panel button {
  width: 100%;
  height: 100%;
  border: none;
  padding: 1rem;
  background-color: whitesmoke;
  justify-content: center;
  /* color: royalblue; */
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.6);

}

/* .panel button:not(:last-child){
  margin-bottom: .5rem;
} */

.blue {
  color: royalblue;
}

.time {
  text-transform: capitalize;
}

.panel button:hover {
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

.forecast {
  padding: 1rem 3rem;
  border-radius: 5px;
  border: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  place-items: center;
}

.forecast .icon {
  font-size: 20px;
}

.forecast:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.forecast:active {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.prices .metric {
  padding: 1rem 1.25rem;
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.0);
  height: 100%;
  border-radius: 5px;
  background-color: whitesmoke;
}

.metric:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  background-color: white;
  cursor: pointer;
}

.val {
  justify-content: space-between;
  width: 100%;
}

.val h2 {
  color: royalblue;
  background-color: rgba(65, 105, 225, 0.1);
  font-size: 15px;
  padding: .25rem .5rem;
  border-radius: 5px;
  cursor: text;
}

.val * {
  align-self: center;
}

.metric .icon {
  font-size: 20px;
  height: 5rem;
  width: 5rem;
  background-color: rgb(65, 105, 225);
  border-radius: 50%;
  padding: 1rem;
  color: white;
}

.closed {
  padding: .5rem;
  background-color: rgba(255, 0, 0, 0.1);
  font-size: 12px;
  color: red;
  border-radius: 5px;
}

.icon.sell {
  background-color: rgb(225, 65, 65);
  color: white;
  border-radius: 50%;
}

.icon.buy {
  border-radius: 50%;

}

.metric#buy {
  border: 2px solid royalblue;
}

.metric#sell {
  border: 2px solid rgb(225, 65, 65);
}

.metric#sell h2 {
  padding: .5rem;
  background-color: rgba(255, 0, 0, 0.1);
  font-size: 12px;
  color: red;
  border-radius: 5px;
}

.metric#buy h2 {
  padding: .5rem;
  background-color: rgba(65, 105, 225, 0.1);
  font-size: 12px;
  color: royalblue;
  border-radius: 5px;

}

@media screen and (max-width: 740px) {
  header {
    padding: 1rem 2rem;
  }

  div {
    font-size: 12px;
  }

  body {
    padding: 6rem 2rem 2rem 2rem;
  }

  input {
    padding: .0rem;
    height: 4rem;
    /* width: 15rem; */
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
  }

  .metric .icon {
    height: 3rem;
    width: 3rem;
    padding: .5rem;
  }

  .actions{
    width: 100%;
  }

  button.forecast{
    height: fit-content;
    width: 100%;
    padding: 1rem;
  }
}